<div class="strut"></div>
<div>
    <form name="newTaskForm" class="form-inline" ng-submit="newTaskForm.$valid && task_item.add()"  novalidate>
        <div class="form-group" style="width: 30%;">
            <label class="sr-only" for="textField">Task</label>
            <input style="width: 100%;" ng-change="validateForm(newTaskForm)"  name="task" type="text" id="textField" class="form-control" ng-model="new_task.text" placeholder="Type your task here..." required /><br />
        </div>
        <div class="form-group">
            <label class="sr-only" for="dateField">Due to</label>
            <!--<input type="date" id="dateField" class="form-control" ng-model="new_task.due_to" title="Due to" required /><br />-->
            <div class="input-group">
                <input type="date" name="date" ng-change="validateForm(newTaskForm)" class="form-control ng-valid ng-isolate-scope ng-valid-required ng-touched ng-valid-date" datepicker-popup="" ng-model="new_task.due_to" is-open="status.opened" min-date="minDate" ng-required="true" close-text="Close" required="required" style=""><br />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datepicker_toggle($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <input id="addButton" type="submit" class="btn btn-info" value="+" />
        </div>
  </form>
</div>
<hr/>
<div>
    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Task</th>
            <th>Due to</th>
            <th>Assigned to</th>
            <th></th>
            </tr>
        </thead>
        <tbody ui-sortable="draggable" ng-model="tasks">
            <tr class="task" ng-repeat="task in tasks | orderBy:'priority'">
                <td>
                    <input type="hidden" ng-model="task.priority">
                    <input type="checkbox" ng-model="task.completed" ng-change="task_item.edit(task)">
                </td>
                <td style="width: 250px;"><input class="task-text" type="text" ng-model="task.text" ng-blur="task_item.edit(task)"></td>
                <td>
                    <div class="input-group due">
                        <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="date" class="form-control" ng-class="{'ng-dirty ng-invalid': task.due_to < minDate}" ng-change="task.due_to > minDate && task_item.edit(task)" ng-model="task.due_to" aria-describedby="basic-addon">
                    </div>
                </td>
                <td>
                   <div ng-repeat="assigned in task.assigned_to">{{ assigned.first_name }} {{ assigned.last_name }}</div>
                </td>
                <td><i class="remove glyphicon glyphicon-remove-circle" ng-click="task_item.remove(task)"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<hr/>
<div style="margin-top: 10px;"><span>Completed tasks: <span class="badge">{{(tasks |filter:{completed:true}).length }}</span></span></div>