<div class="strut"></div>
<div>
    <form name="newTaskForm" class="form-inline" ng-submit="newTaskForm.$valid && task_item.add()"  novalidate>
        <div class="form-group" style="width: 30%;">
            <label class="sr-only" for="textField">Task</label>
            <input style="width: 100%;" type="text" id="textField" class="form-control" ng-model="new_task.text" placeholder="Type your task here..." required /><br />
        </div>
        <div class="form-group">
            <label class="sr-only" for="dateField">Due to</label>
            <input type="date" id="dateField" class="form-control" ng-model="new_task.due_to" title="Due to" required /><br />
        </div>
        <div class="form-group">
            <input id="addButton" type="submit" class="btn btn-info" value="+" />
        </div>
  </form>
</div>
<hr/>
<div>
    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Task</th>
            <th>Due to</th>
            <th>Assigned to</th>
            <th></th>
            </tr>
        </thead>
        <tbody ng-model="tasks">
            <tr class="task" ng-repeat="task in tasks | orderBy:'priority'">
                <td>
                    <input type="hidden" ng-model="task.priority">
                    <input type="checkbox" ng-model="task.completed">
                </td>
                <td style="width: 250px;"><input class="task-text" type="text" ng-model="task.text"></td>
                <td>
                    <div class="input-group due">
                        <span class="input-group-addon" id="basic-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="date" class="form-control" ng-model="task.due_to" aria-describedby="basic-addon">
                    </div>
                </td>
                <td>
                   <div ng-repeat="assigned in task.assigned_to">{{ assigned.first_name }} {{ assigned.last_name }}</div>
                </td>
                <td><i class="remove glyphicon glyphicon-remove-circle"></i></td>
            </tr>
        </tbody>
    </table>
</div>